{% extends 'base.html.twig' %}


{% block body %}
    {{ include('messages.html.twig') }}

    <a href="{{ path('coche_create') }}" class="btn btn-primary">Nuev@</a>
    <table class="table">
        <caption>Coches</caption>
        <tr>
            <th>ID</th>
            <th>Concesionario</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Matricula</th>
            <th>Vendido</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for coche in coches %}
            <tr>
                <td>{{ coche.id }}</td>
                <td>{{ coche.concesionario.direccion }}</td>
                <td>{{ coche.marca.nombre }}</td>
                <td>{{ coche.modelo.nombre }}</td>
                <td>{{ coche.matricula }}</td>
                <td>{{ coche.vendido }}</td>
                <td>
                <a class="btn btn-primary"  href='{{ path("coche_edit",{"coche":coche.id}) }}'>Edit</a>
                </td>
                <td>
                    <button
                            class="btn btn-primary"
                            onclick="deleteConfirmation('{{ coche.matricula }}','{{ path("coche_delete",{"coche":coche.id}) }}')"
                    >Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
