{% extends 'base.html.twig' %}


{% block body %}
    {{ include('messages.html.twig') }}

    <a href="{{ path('modelo_create') }}" class="btn btn-primary">Nuev@</a>
    <table class="table">
        <caption>Modelos</caption>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for modelo in modelos %}
            <tr>
                <td>{{ modelo.id }}</td>
                <td>{{ modelo.marca.nombre }}</td>
                <td>{{ modelo.nombre }}</td>
                <td>
                <a class="btn btn-primary"  href='{{ path("modelo_edit",{"modelo":modelo.id}) }}'>Edit</a>
                </td>
                <td>
                    <button
                            class="btn btn-primary"
                            onclick="deleteConfirmation('{{ modelo.nombre }}','{{ path("modelo_delete",{"modelo":modelo.id}) }}')"
                    >Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- MOVIDO Y UNIFICADO -->
    <!--<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>-->
    <script>
      /*  function deleteConfirmation(name, urlSubmit) {
            swal({
                title: "Borrar Marca?",
                text: "Borrar " + name + "?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = urlSubmit;
                } else {
                    //swal("Your imaginary file is safe!");
                }
            });

        }*/

    </script>


{% endblock %}