{% extends 'base.html.twig' %}


{% block body %}
    {{ include('messages.html.twig') }}

    <a href="{{ path('marca_create') }}" class="btn btn-primary">Nuev@</a>
    <table class="table">
        <caption>Marcas</caption>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for marca in marcas %}
            <tr>
                <td>{{ marca.id }}</td>
                <td>{{ marca.nombre }}</td>
                <td>
                <a class="btn btn-primary"  href='{{ path("marca_edit",{"marca":marca.id}) }}'>Edit</a>
                </td>
                <td>
                    <button
                            class="btn btn-primary"
                            onclick="deleteConfirmation('{{ marca.nombre }}','{{ path("marca_delete",{"marca":marca.id}) }}')"
                    >Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- MOVIDO Y UNIFICADO -->
    <!--<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>-->
    <script>
      /*  function deleteConfirmation(name, urlSubmit) {
            swal({
                title: "Borrar Marca?",
                text: "Borrar " + name + "?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = urlSubmit;
                } else {
                    //swal("Your imaginary file is safe!");
                }
            });

        }*/

    </script>

    <script src="{{ asset('build/js/common.js') }}"></script>


{% endblock %}